<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1698335350-8123hrh3hirk3pg9u9305t51ou469ac3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1698335350-8123hrh3hirk3pg9u9305t51ou469ac3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1698335350-56bgaitdi9m43veh7ltpk45sgpkfg4rc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDD7a4sYFGVEEc8cZkgahjm6XhvKO7d5OM</string>
	<key>GCM_SENDER_ID</key>
	<string>1698335350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.hadawiApp</string>
	<key>PROJECT_ID</key>
	<string>transport-app-d662f</string>
	<key>STORAGE_BUCKET</key>
	<string>transport-app-d662f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1698335350:ios:76209b1f710d416c8aed57</string>
	<key>DATABASE_URL</key>
	<string>https://transport-app-d662f-default-rtdb.firebaseio.com</string>
</dict>
</plist>